<footer>
    <p>&copy; Все права защищены. <a href="file:///C:/Users/ivans/Downloads/%D0%9D%D0%BE%D0%B2%D1%8B%D0%B9%20%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82.pdf" target="_blank">Политика конфиденциальности</a></p>
</footer>