<div class="sidebar">
    <a href="@Url.Action("Index", "Home")">Главная</a>
    <a href="@Url.Action("Sale", "Home")">Распродажа</a>
    <a href="@Url.Action("News", "Home")">Новинки</a>
    <a href="@Url.Action("Contact", "Home")">Наши контакты</a>

    <div class="partners">
        <h2>Наши партнеры</h2>
        <a href="https://www.walmart.com"><img src="https://storage.yandexcloud.net/web-cterx/walmart.png" alt="walmart"></a>
        <a href="https://www.wayfair.com"><img src="https://storage.yandexcloud.net/web-cterx/wayfair.png" alt="wayfair"></a>
        <a href="https://www.ikea.com"><img src="https://storage.yandexcloud.net/web-cterx/ikea.png" alt="ikea"></a>
    </div>
</div>
