@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="content">
    <h1 align="center">О компании</h1>
    <p>
        <b>Компания СТЕРХ</b> — ваш надежный партнер в мире современных и стильных штор, объединяющий эстетичность, качество и доступность. Мы гордимся многолетним опытом работы, помогая нашим клиентам создавать уют и гармонию в интерьере.
    </p>
    <p>
        Мы предлагаем <b>разнообразие продукции:</b> от элегантных классических штор до функциональных рулонных и японских панелей. Каждое изделие изготавливается из <i>качественных материалов</i> с учетом последних тенденций дизайна, обеспечивая долговечность и удобство в использовании.
    </p>

    <h2>Примеры нашей работы:</h2>
    <div class="slider-container">
        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <img src="https://storage.yandexcloud.net/web-cterx/%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D0%BA%D0%B01.jpg" alt="Пример мебели">
                </div>
                <div class="slide">
                    <img src="https://storage.yandexcloud.net/web-cterx/%D0%A0%D0%B8%D0%BC%D1%81%D0%BA%D0%B8%D0%B54.jpg" alt="Пример мебели 2">
                </div>
                <div class="slide">
                    <img src="https://storage.yandexcloud.net/web-cterx/%D0%AF%D0%BF%D0%BE%D0%BD%D1%81%D0%BA%D0%B8%D0%B52.jpg" alt="Новая кровать 2">
                </div>
            </div>
            <div class="controls">
                <button onclick="prevSlide()">&#10094;</button>
                <button onclick="nextSlide()">&#10095;</button>
            </div>
        </div>
    </div>
    <h2>Наши самые популярные категории</h2>
    <table border="1" cellpadding="10" cellspacing="5">
        <tr>
            <td rowspan="3"><h3>Наши самые популярные категории</h3></td>
            <td colspan="2" align="center"><h3>Шторы для дома</h3></td>
        </tr>
        <tr>
            <td>Классические шторы</td>
            <td>Рулонные шторы</td>
        </tr>
        <tr>
            <td>Римские шторы</td>
            <td>Японские панели</td>
        </tr>
    </table>

    <h2>Факты о нас:</h2>
    <ul>
        <li>Большой выбор стилей и дизайнов</li>
        <li>Индивидуальный подход к каждому клиенту</li>
        <li>Гарантия качества на всю продукцию</li>
    </ul>
</div>